.App {
  /* border: 2px solid black; */
  padding: 25px;
  width: 50%;
  margin-left: 20%;
}
.BookList {
  border: 2px solid pink;
  padding: 10px;
  width: 40%;
  margin-top: 10px;
  margin-left: 20%;
  padding-left: 10%;
  padding-right: -10%;
}
.Adder {
  /* border: 2px solid black; */
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}
h3 {
  font-family: serif;
  font-weight: lighter;
}
@media only screen and (max-width: 600px) {
  .App {
    /* border: 2px solid black; */
    padding: 0px;
    width: 100%;
    margin-left: 0%;
  }
  .Adder {
    /* border: 2px solid black; */
    display: block;
    padding: 10%;
  }
  .BookList {
    border: 2px solid pink;
    padding: 5px;
    width: 80%;
    margin-top: 0px;
    margin-left: 5%;

    padding-left: 10%;
    padding-right: -10%;
  }
}
